# Ignore zeppelin contracts
node_modules/

# Ignore build stuff
cache/
build/
dist/

# Coverage tests
coverage/

# Buidler cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.privkey.txt
.infurakey.txt
.DS_Store
.vscode