[submodule "packages/subgraph-service/lib/forge-std"]
	path = packages/subgraph-service/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/horizon/lib/forge-std"]
	path = packages/horizon/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/horizon/lib/openzeppelin-foundry-upgrades"]
	path = packages/horizon/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
