# Ignore zeppelin contracts
node_modules/

# Ignore truffle stuff
build/
dist/

# Ignore buidler stuff
cache/

# Coverage tests
coverage/

# Buidler cache
cached/

# Ignore solc bin output
bin/

# Others
.privkey.txt
.infurakey.txt
.DS_Store
.vscode