---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  indentation:
    spaces: 2
    indent-sequences: true
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']
  document-start:
    present: true
  document-end:
    present: false
  comments:
    min-spaces-from-content: 1
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1

ignore: |
  node_modules/
  dist/
  build/
  cache/
  coverage/
  .yarn/
  packages/
