general:
  arbitrator: &arbitrator "0xE1FDD398329C6b74C14cf19100316f0826a492d3" # Arbitration Council
  governor: &governor "0x48301Fe520f72994d32eAd72E2B6A8447873CF50" # Graph Council
  authority: &authority "0x982D10c56b8BBbD6e09048F5c5f01b43C65D5aE0" # Authority that signs payment vouchers
  availabilityOracle: &availabilityOracle "0x5d3B6F98F1cCdF873Df0173CDE7335874a396c4d" # Subgraph Availability Oracle
  pauseGuardian: &pauseGuardian "0x8290362Aba20D17c51995085369E001Bad99B21c" # Protocol pause guardian
  allocationExchangeOwner: &allocationExchangeOwner "0x74Db79268e63302d3FC69FB5a7627F7454a41732" # Allocation Exchange owner

contracts:
  Controller:
    calls:
      - fn: "setContractProxy"
        id: "0xe6876326c1291dfcbbd3864a6816d698cd591defc7aa2153d7f9c4c04016c89f" # keccak256('Curation')
        contractAddress: "${{Curation.address}}"
      - fn: "setContractProxy"
        id: "0x39605a6c26a173774ca666c67ef70cf491880e5d3d6d0ca66ec0a31034f15ea3" # keccak256('GNS')
        contractAddress: "${{GNS.address}}"
      - fn: "setContractProxy"
        id: "0xf942813d07d17b56de9a9afc8de0ced6e8c053bbfdcc87b7badea4ddcf27c307" # keccak256('DisputeManager')
        contractAddress: "${{DisputeManager.address}}"
      - fn: "setContractProxy"
        id: "0xc713c3df6d14cdf946460395d09af88993ee2b948b1a808161494e32c5f67063" # keccak256('EpochManager')
        contractAddress: "${{EpochManager.address}}"
      - fn: "setContractProxy"
        id: "0x966f1e8d8d8014e05f6ec4a57138da9be1f7c5a7f802928a18072f7c53180761" # keccak256('RewardsManager')
        contractAddress: "${{RewardsManager.address}}"
      - fn: "setContractProxy"
        id: "0x1df41cd916959d1163dc8f0671a666ea8a3e434c13e40faef527133b5d167034" # keccak256('Staking')
        contractAddress: "${{Staking.address}}"
      - fn: "setContractProxy"
        id: "0x45fc200c7e4544e457d3c5709bfe0d520442c30bbcbdaede89e8d4a4bbc19247" # keccak256('GraphToken')
        contractAddress: "${{GraphToken.address}}"
  ServiceRegistry:
    proxy: true
    init:
      controller: "${{Controller.address}}"
  EpochManager:
    proxy: true
    init:
      controller: "${{Controller.address}}"
      lengthInBlocks: 6646 # length in hours = lengthInBlocks*13/60/60 (~13 second blocks)
  GraphToken:
    init:
      initialSupply: "10000000000000000000000000000" # in wei
    calls:
      - fn: "addMinter"
        minter: "${{RewardsManager.address}}"
  Curation:
    proxy: true
    init:
      controller: "${{Controller.address}}"
      bondingCurve: "${{BancorFormula.address}}"
      curationTokenMaster: "${{GraphCurationToken.address}}"
      reserveRatio: 500000 # in parts per million
      curationTaxPercentage: 10000 # in parts per million
      minimumCurationDeposit: "1000000000000000000" # in wei
  DisputeManager:
    proxy: true
    init:
      controller: "${{Controller.address}}"
      arbitrator: *arbitrator
      minimumDeposit: "10000000000000000000000" # in wei
      fishermanRewardPercentage: 500000 # in parts per million
      idxSlashingPercentage: 25000 # in parts per million
      qrySlashingPercentage: 25000 # in parts per million
  GNS:
    proxy: true
    init:
      controller: "${{Controller.address}}"
      bondingCurve: "${{BancorFormula.address}}"
      subgraphNFT: "${{SubgraphNFT.address}}"
    calls:
      - fn: "approveAll"
  SubgraphNFT:
    init:
      governor: "${{Env.deployer}}"
    calls:
      - fn: "setTokenDescriptor"
        tokenDescriptor: "${{SubgraphNFTDescriptor.address}}"
      - fn: "setMinter"
        minter: "${{GNS.address}}"
  Staking:
    proxy: true
    init:
      controller: "${{Controller.address}}"
      minimumIndexerStake: "100000000000000000000000" # in wei
      thawingPeriod: 186092 # in blocks
      protocolPercentage: 10000 # in parts per million
      curationPercentage: 100000 # in parts per million
      channelDisputeEpochs: 7 # in epochs
      maxAllocationEpochs: 28 # in epochs
      delegationUnbondingPeriod: 28 # in epochs
      delegationRatio: 16 # delegated stake to indexer stake multiplier
      rebateAlphaNumerator: 77 # rebateAlphaNumerator / rebateAlphaDenominator
      rebateAlphaDenominator: 100 # rebateAlphaNumerator / rebateAlphaDenominator
    calls:
      - fn: "setDelegationTaxPercentage"
        delegationTaxPercentage: 5000 # parts per million
      - fn: "setSlasher"
        slasher: "${{DisputeManager.address}}"
        allowed: true
      - fn: "setAssetHolder"
        assetHolder: "${{AllocationExchange.address}}"
        allowed: true
  RewardsManager:
    proxy: true
    init:
      controller: "${{Controller.address}}"
    calls:
      - fn: "setIssuanceRate"
        _issuanceRate: "1000000012184945188" # per block increase of total supply, blocks in a year = 365*60*60*24/13
  AllocationExchange:
    init:
      graphToken: "${{GraphToken.address}}"
      staking: "${{Staking.address}}"
      governor: *governor
      authority: *authority
    calls:
      - fn: "approveAll"
