name: Build

env:
  CI: true
  STUDIO_API_KEY: ${{ secrets.STUDIO_API_KEY }}

on:
  push:
    branches: "*"
  pull_request:
    branches: "*"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Build
        run: pnpm build || pnpm build