name: CI - packages/token-distribution

env:
  CI: true
  STUDIO_API_KEY: ${{ secrets.STUDIO_API_KEY }}

on:
  push:
    branches: "*"
    paths:
      - packages/token-distribution/**
  pull_request:
    branches: "*"
    paths:
      - packages/token-distribution/**
  workflow_dispatch:

jobs:
  test-ci:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Build
        run: |
          pushd packages/token-distribution
          yarn build
      - name: Run tests
        run: |
          pushd packages/token-distribution
          yarn test