name: E2E - packages/contracts

env:
  CI: true

on:
  push:
    branches: "*"
    paths:
      - packages/contracts/contracts/**
      - packages/contracts/config/**
      - packages/contracts/test/e2e/**
      - packages/contracts/tasks/**
      - packages/contracts/scripts/**
      - packages/contracts/hardhat.config.ts
  pull_request: 
    branches: "*"
    paths:
      - packages/contracts/contracts/**
      - packages/contracts/config/**
      - packages/contracts/test/e2e/**
      - packages/contracts/tasks/**
      - packages/contracts/scripts/**
      - packages/contracts/hardhat.config.ts
  workflow_dispatch:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Docker Compose
        run: |
          sudo curl -L "https://github.com/docker/compose/releases/download/$(curl -s https://api.github.com/repos/docker/compose/releases/latest | jq -r '.tag_name')/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose
          docker-compose --version  # Confirm installation
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Build
        run: |
          pushd packages/contracts
          yarn build || yarn build
      - name: Run e2e tests
        run: |
          git clone https://github.com/OffchainLabs/nitro-testnode/
          pushd nitro-testnode
          git checkout c47cb8c643bc8e63ff096f7f88f9152064d1532a
          git submodule update --init --recursive
          sed -i'' -e 's/^\(.*dev.period.*\)/# \1/' docker-compose.yaml
          ./test-node.bash --init --batchposters 0 --redundantsequencers 0 --detach
          popd
          pushd packages/contracts
          L1_NETWORK=localnitrol1 L2_NETWORK=localnitrol2 yarn test:e2e
