name: E2E

env:
  CI: true

on:
  push:
    branches: "*"
    paths:
      - packages/contracts/contracts/**
      - packages/contracts/config/**
      - packages/contracts/test/e2e/**
      - packages/contracts/tasks/**
      - packages/contracts/scripts/**
      - packages/contracts/hardhat.config.ts
  pull_request: 
    branches: "*"
    paths:
      - packages/contracts/contracts/**
      - packages/contracts/config/**
      - packages/contracts/test/e2e/**
      - packages/contracts/tasks/**
      - packages/contracts/scripts/**
      - packages/contracts/hardhat.config.ts
  workflow_dispatch:

jobs:
  test-e2e:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up environment
        uses: ./.github/actions/setup
      - name: Run e2e tests
        run: |
          git clone https://github.com/OffchainLabs/nitro-testnode/
          pushd nitro-testnode
          git checkout c47cb8c643bc8e63ff096f7f88f9152064d1532a
          git submodule update --init --recursive
          sed -i'' -e 's/^\(.*dev.period.*\)/# \1/' docker-compose.yaml
          ./test-node.bash --init --batchposters 0 --redundantsequencers 0 --detach
          popd
          L1_NETWORK=localnitrol1 L2_NETWORK=localnitrol2 yarn test:e2e
